{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6 col-lg-5">
        <div class="card card-custom p-4 p-md-5 shadow-sm border-0">
            <h2 class="fw-bold text-center">Nova Senha</h2>
            {% if token_fail %}
                <div class="alert alert-danger">Link inválido ou expirado.</div>
            {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label small fw-medium">Digite a nova senha</label>
                        <input type="password" name="password1" class="form-control rounded-pill" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label small fw-medium">Confirme a nova senha</label>
                        <input type="password" name="password2" class="form-control rounded-pill" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 rounded-pill fw-bold py-2">Alterar Senha</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}